extends layout

block content
    | you'v logged in
    hr
    = ' ' + JSON.stringify(user)
    hr
    form.all.form-horizontal(method="get", role="form")
        h1 Get All bookmarkes
        input.form-control#all_user_id(placeholder="user_id", type="text", value=user.id)
        input.form-control#all_offset(type="text", placeholder="Offset")
        input.form-control#all_len(type="text", placeholder="Length")
        button.btn.btn-primary(type="submit") Get All
    hr
    form.create.form-horizontal(method="post", role="form")
        h1 Create new bookmark
        input.form-control#create_user_id(placeholder="User Id", type="text", value=user.id)
        br
        input.form-control#create_title(placeholder="Title", type="text")
        input.form-control#create_isbn(placeholder="isbn", type="text")
        input.form-control#create_price_min(placeholder="Price Min", type="text")
        input.form-control#create_price_max(placeholder="Price Max", type="text")
        button.btn.btn-primary(type="submit") Create
    hr
    form.get.form-horizontal
        h1 Get bookmark info
        input.form-control#get_user_id(placeholder="user_id", type="text", value=user.id)
        input.form-control#get_bookmark_id(placeholder="bookmark Id", type="text")
        button.btn.btn-primary(type="submit") Get Info
    hr
    form.get.form-horizontal
        h1 Delete bookmark info
        input.form-control#delete_user_id(placeholder="user_id", type="text", value=user.id)
        input.form-control#delete_bookmark_id(placeholder="bookmark Id", type="text")
        button.btn.btn-primary(type="submit") Delete